.menu {
color:white;
}
li {
    color:blanchedalmond;   
}
.fs20 {
 font-size: 20px;
}

.fs32 {
    font-size: 32px;
}

#menu2 {
    color: white;
}

p{
    color: white;
}
h1{
    color: rgb(240, 107, 18);
}